@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 218, 57%, 99%;
  --foreground: 222, 47%, 11%;
}

html,
body,
:root {
  height: 100%;
}

body {
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  background: rgb(var(--background));
  color: rgb(var(--foreground));
}

.gradient-border {
  position: relative;
}

.gradient-border::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(120deg, #38bdf8, #a855f7, #f97316);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
